openai
python-dotenv
pandas
pydantic
pyyaml
python-json-logger
hydra-core
langchain
langchain_experimental
pymongo
chromadb
pydantic
pydantic-settings
pydantic-ai==0.0.52
pydantic-ai[logfire]
PyPDF2
chromadb
numpy