openai
python-dotenv
pandas
pydantic
pyyaml
python-json-logger
hydra-core
langchain
langchain_experimental
pymongo
chromadb
pydantic
pydantic-settings
pydantic-ai>=0.3.0
pydantic-ai[logfire]
pypdf
weaviate-client
chromadb
numpy
pdf2image
pybase64
streamlit
jinja2